/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

@font-face{
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype"),
       url("../font/Montserrat-Black.ttf") format("truetype"),
       url("../font/Montserrat-Black.ttf") format("truetype"),
       url("../font/Montserrat-BlackItalic.ttf") format("truetype"),
       url("../font/Montserrat-Bold.ttf") format("truetype"),
       url("../font/Montserrat-BoldItalic.ttf") format("truetype"),
       url("../font/Montserrat-ExtraBold.ttf") format("truetype"),
       url("../font/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
       url("../font/Montserrat-ExtraLight.ttf") format("truetype"),
       url("../font/Montserrat-ExtraLightItalic.ttf") format("truetype"),
       url("../font/Montserrat-Italic.ttf") format("truetype"),
       url("../font/Montserrat-Light.ttf") format("truetype"),
       url("../font/Montserrat-LightItalic.ttf") format("truetype"),
       url("../font/Montserrat-Medium.ttf") format("truetype"),
       url("../font/Montserrat-MediumItalic.ttf") format("truetype"),
       url("../font/Montserrat-SemiBold.ttf") format("truetype"),
       url("../font/Montserrat-SemiBoldItalic.ttf") format("truetype"),
       url("../font/Montserrat-Thin.ttf") format("truetype"),
       url("../font/Montserrat-ThinItalic.ttf") format("truetype");
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
}

.main-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background: #5E5E5E;
}

.main-header__container {
  width: 80%;
  max-width: 1200px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 50px;
  align-items: center;
}

.main-header__logo {
  font-size: 30px;
  line-height: 37px;
  color: #FF6E00;
}

.main-header-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.main-header-menu-mobile {
  display: none;
}

.main-header-menu__item {

}

.main-header-menu__item:hover {
  cursor: pointer;
}

.main-header-menu__item-selected {
  color: #FF6E00;
}

.container {
  width: 80%;
}

.home-section {
  background: #5E5E5E;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 0;
  position: relative;
  width: 100%;

  overflow-x: hidden;
  overflow-y: clip;
}

.home-section__row {
  display: flex;
  justify-content: space-between;

  margin-top: 3em;
  margin-bottom: 2em;

  width: 80%;
  max-width: 1200px;

  z-index: 1;
}

.home-section__text {
  display: flex;
  flex-direction: column;

  max-width: 376px;

  margin-top: 5em;
}

.home-section__image {
  /*background: url("../img/illustrations/1.png") no-repeat;*/
  /* width: 696px; */
  /* height: 521px; */
  /* max-width: 60%; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;
}

.home-section__image > img {
  max-width: 100%;
  max-height: 521px;
  height: auto;
  width: auto;
}

.home-section__image.small_image {
  align-items: flex-end;
}

.home-section__image.small_image > img {
  max-height: 300px;
}

#home-section__sliding_image {
  display: none;
  position: absolute;
  /*bottom: 0;*/
}

#home-section__fade_out_image {
  display: none;
  position: absolute;
  left: 0;
}

.button {
  width: 306px;
  max-width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.button_2 {
  border: none;
  background-image: url("../img/buttons/2.png");
}

.button_2:hover {
  background-image: url("../img/buttons/4.png");
}

.button_4 {
  background-image: url("../img/buttons/4.png");
}

.button_4:hover {
  background-image: url("../img/buttons/2.png");
}

.button_3 {
  background-image: url("../img/buttons/3.png");
}

.button_3:hover {
  background-image: url("../img/buttons/2.png");
}

.button_6 {
  background-image: url("../img/buttons/6.png");
  width: 48px;
  height: 48px;
}

.subtitle {
  color: #C99EFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.subtitle-dark {
  color: #8B51D4;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.02em;
}

.shape-1 {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20%;
}

.shape-2 {
  position: absolute;
  z-index: 3;
  right: -2em;
  top: -100px;
}

section {
  height: 601px;
  margin: 2em;
  width: calc(100% - 4em);
}

.about-us-section {
  display: flex;
  align-items: center;

  position: relative;
}

.about-us-section__row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  max-width: 1200px;
}

.about-us-section__video {
  background: #9D9D9D;
  /*height: 420px;*/
  width: 625px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  max-width: 60%;
  aspect-ratio: 4/3;
}

.about-us-section__text {
  width: 27%;
  /*max-width: 437px;*/
}

.shape-3 {
  position: absolute;
  z-index: -1;
  left: -2em;
  bottom: 0;
}

.benefits-section {
  background: #FFAA69;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-section__column {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.benefits-section__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2em;
}

.benefits-section__row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.benefits-section__row_item__text {
  margin-top: 1em;
}

.benefits-section__row_item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 1em;
}

.agenda-section {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda-section__column {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.agenda-section__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  margin-top: 2em;
}

.agenda-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.agenda-section__list_item {
  /*margin-bottom: 3em;*/
}

.agenda-section__list_item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #FF6E00;

  margin-bottom: 1em;
}

.agenda-section__list_item__content {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.booking-section {
  background: #5E5E5E;
  color: #FFFFFF;
  position: relative;
}

.booking-section__column {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-section__column > .title {
  width: 500px;
  display: flex;
  text-align: center;
}

.shape-7 {
  position: absolute;
  top: 37%;
  left: 10%;
}

.shape-8 {
  position: absolute;
  bottom: 10%;
  right: -2em;
}

.contacts-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contacts-section__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.contacts-section__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 300px;
}

.contacts-section__contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
}

.contacts-section__social {

  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 300px;
  height: 36px;
}

.contacts-section__image {
  max-width: 100%;
}

.contacts-section__image > img {
  max-width: 100%;
}

.contacts-section__image-mobile {
  display: none;
}

.border-left {
  border-left: 2px solid black;
}

.contacts-section__social_item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  width: 100px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-section__social_item:hover {
  cursor: pointer;
  background: #cccccc;
}

.footer {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  justify-content: center;

  color: #000000;
  /*background: #5E5E5E;*/
}

.footer__container {
  width: 80%;
  max-width: 1200px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: 50px;
  align-items: center;
}

.footer__logo {
  font-size: 30px;
  line-height: 37px;
  color: #FF6E00;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-menu__item {
}

.footer-menu__item:hover {
  cursor: pointer;
}

.footer-menu__item-selected {
  color: #FF6E00;
}

.our-team {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: #FFFFFF;*/
  background: rgba(255, 255, 255, 0.4);
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team__popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 690px;
  background: #FFFFFF;
  position: relative;
}

.our-team__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.our-team__column > .title {
  width: 300px;

  align-self: center;
  display: flex;
  text-align: center;
}

.our-team__members {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: center;
}

.our-team__members_item {
  width: 200px;
  margin-left: 1em;
  margin-right: 1em;

}

.our-team__members_item__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  margin-top: 1em;
  margin-bottom: 1em;
}

.shape-9 {
  position: absolute;
  right: 0;
  top: 60%;
}

.button_1 {
  background: url("../img/buttons/1.png");
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
}

.booking-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: #FFFFFF;*/
  background: rgba(255, 255, 255, 0.4);
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form__popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 690px;
  background: #FFFFFF;
  position: relative;
}

@keyframes send-result-appear {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

.booking-form__send_result {
  display: none;
  animation-name: send-result-appear;
  animation-duration: 2s;

  z-index: 5;
  margin-right: 2em;
  margin-left: 2em;
}

.booking-form__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.booking-form__column > .title {
  width: 700px;
  align-self: center;
  display: flex;
  text-align: center;
}

.booking-form__inputs_column {
  display: flex;
  flex-direction: column;
}

.booking-form__inputs_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.booking-form__input_item {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.booking-form__input_item > label {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 6px;
}

.booking-form__input_item > input {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  width: 248px;
  height: 50px;
}

.booking-form__column > .button {
  align-self: center;
}

.booking-form__logo {
  display: none;
}


@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .main-header {
    font-size: 0.6rem;
  }
  .footer {
    font-size: 0.6rem;
  }
  .title {
    font-size: 40px;
  }

  .our-team__column > .title {
    width: auto;
  }

  .our-team__column {
    font-size: 0.6rem;
    z-index: 6;
  }

  .our-team__members_item {
    width: 150px;
  }

  .our-team__members_item__image {
    width: inherit;
  }

  .our-team__members_item__image > img {
    width: inherit;
  }
}

@media only screen and (max-width: 768px) {

  html {
    font-size: 12px;
  }

  .main-header-menu {
    display: none;
  }
  .main-header__container {
    margin-top: 25px;
  }
  .main-header-menu-mobile {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 6;
  }

  section {
    height: auto;
  }

  .title {
    font-size: 32px;
    line-height: 39px;
  }

  .home-section__row {
    flex-direction: column-reverse;
  }

  .home-section__image {
    width: 100%;
  }

  .home-section__text {
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 4em;
    align-self: center;
  }

  .shape-1 {
    top: 30%;
  }

  .shape-1 > img {
    height: 160px;
  }

  .shape-2 {
    bottom: -10em;
  }

  .shape-2 > img {
    height: 220px;
  }

  .about-us-section__row {
    flex-direction: column-reverse;
    gap: 25px;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .about-us-section__text {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    max-width: 400px;
  }

  .about-us-section__video {
    width: 100%;
    max-width: 100%;
  }

  .shape-3 {
    bottom: -14em;
  }

  .benefits-section__column {
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem
  }

  .benefits-section__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .benefits-section__row_item {
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .benefits-section__row_item__title {
    text-align: center;
  }

  .benefits-section__row_item__content {
    max-width: 400px;
  }

  .agenda-section__column {
    gap: 1rem;
    margin-bottom: 4rem;
  }

  .agenda-section__image {
    display: none;
  }

  .agenda-section__list {
    gap: 4rem;
  }

  .booking-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking-section__column {
    margin-bottom: 4rem;
    margin-top: 4rem;
    gap: 2rem;
    text-align: center;
  }

  .booking-section__column > .title {
    width: 195px;
  }

  .shape-7 > img {
    height: inherit;
  }

  .shape-7 {
    height: 90px;
    top: 35%;
    left: -14%;
  }

  .shape-8 > img {
    height: inherit;
  }

  .shape-8 {
    height: 90px;
    bottom: 42%;
  }

  .contacts-section__row {
    flex-direction: column;
    max-width: 400px;
  }

  .footer {
    display: none;
  }

  .contacts-section__image {
    display: none;
  }

  .contacts-section__image-mobile {
    display: block;
    width: 100%;
    margin-left: -64px;
  }

  .contacts-section__image-mobile > img {
    width: inherit;
  }

  .contacts-section__column {
    max-width: inherit;
    align-items: center;
    text-align: center;
    gap: 2rem;

    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .contacts-section__column > .title {
    width: 40%;
  }

  .contacts-section__contacts {
    text-align: left;
    align-self: flex-start;
  }

  .contacts-section__social {
    width: 100%;
    border: none;
  }

  .contacts-section__social_item {
    border: 2px solid black;

    width: calc(100% / 3);
  }

  .contacts-section__social_item.border-left {
    margin-left: -2px;
  }


  .booking-form__popup_container {
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
  }

  .booking-form__column {
    gap: 1rem;
    z-index: 5;
    justify-content: space-between;
  }

  .booking-form__column > .title {
    width: auto;
  }

  .booking-form__inputs_row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .shape-9 {
    transform: rotate(180deg);
    left: -50px;
    top: 50%;
    right: initial;
    z-index: 1;
  }

  #booking-form-close-button {
    z-index: 6;
    top: 2vh;
    right: 4%;
  }

  .booking-form__logo {
    display: block;
    font-weight: 600;
    margin-top: 2vh;
    margin-left: 4%;
  }

  .our-team__popup_container {
    max-width: initial;
    max-height: initial;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .our-team__popup_container > .booking-form__logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    align-self: flex-start;
  }

  .our-team__column {
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    z-index: 6;
  }

  .our-team__column > .title {
    text-align: center;
    width: initial;
  }

  .our-team__members {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
  }

  .mobile-menu {
    z-index: 10;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu__header {
    margin-top: 5vh;
    margin-left: 2rem;
    font-weight: 600;
  }

  .mobile-menu__footer, .mobile-menu__content {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mobile-menu__content {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 2rem;
  }
}
