/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

@font-face{
  font-family: "Montserrat";
  src: url("/font/Montserrat-Regular.ttf") format("truetype"),
       url("/font/Montserrat-Black.ttf") format("truetype"),
       url("/font/Montserrat-Black.ttf") format("truetype"),
       url("/font/Montserrat-BlackItalic.ttf") format("truetype"),
       url("/font/Montserrat-Bold.ttf") format("truetype"),
       url("/font/Montserrat-BoldItalic.ttf") format("truetype"),
       url("/font/Montserrat-ExtraBold.ttf") format("truetype"),
       url("/font/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
       url("/font/Montserrat-ExtraLight.ttf") format("truetype"),
       url("/font/Montserrat-ExtraLightItalic.ttf") format("truetype"),
       url("/font/Montserrat-Italic.ttf") format("truetype"),
       url("/font/Montserrat-Light.ttf") format("truetype"),
       url("/font/Montserrat-LightItalic.ttf") format("truetype"),
       url("/font/Montserrat-Medium.ttf") format("truetype"),
       url("/font/Montserrat-MediumItalic.ttf") format("truetype"),
       url("/font/Montserrat-SemiBold.ttf") format("truetype"),
       url("/font/Montserrat-SemiBoldItalic.ttf") format("truetype"),
       url("/font/Montserrat-Thin.ttf") format("truetype"),
       url("/font/Montserrat-ThinItalic.ttf") format("truetype");
}

body {
  font-family: Montserrat;
}


.main-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  justify-content: center;

  color: #FFFFFF;
  background: #5E5E5E;
  gopa: sobake;
}

.main-header__container {
  width: 80%;
  max-width: 1200px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 50px;
  align-items: center;
}

.main-header__logo {
  font-size: 30px;
  line-height: 37px;
  color: #FF6E00;
}

.main-header-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.main-header-menu__item {

}

.main-header-menu__item-selected {
  color: #FF6E00;
}

.container {
  width: 80%;
}

.home-section {
  background: #5E5E5E;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 0;
  position: relative;
}

.home-section__row {
  display: flex;
  justify-content: space-between;

  margin-top: 3em;
  margin-bottom: 2em;

  width: 80%;
  max-width: 1200px;

  z-index: 1;
}

.home-section__text {
  display: flex;
  flex-direction: column;

  max-width: 376px;

  margin-top: 5em;
}

.home-section__image {
  /*background: url("/img/illustrations/1.png") no-repeat;*/
  /*width: 696px;*/
  /*height: 521px;*/
  max-width: 60%;
}

.button {
  width: 306px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: #FFFFFF;
}

.button_4 {
  background: url("/img/buttons/4.png") no-repeat;
}

.button_4:hover {
  background: url("/img/buttons/2.png") no-repeat;
}

.button_3 {
  background: url("/img/buttons/3.png") no-repeat;
}

.button_3:hover {
  background: url("/img/buttons/2.png") no-repeat;
}

.subtitle {
  color: #C99EFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.subtitle-dark {
  color: #8B51D4;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.02em;
}

.shape-1 {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20%;
}

.shape-2 {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -10em;
}

section {
  height: 601px;
  margin: 2em;
}

.about-us-section {
  display: flex;
  align-items: center;

  position: relative;
}

.about-us-section__row {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about-us-section__video {
  background: #9D9D9D;
  height: 420px;
  width: 625px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-section__text {
  width: 27%;
  /*max-width: 437px;*/
}

.shape-3 {
  position: absolute;
  z-index: -1;
  left: -2em;
  bottom: 0;
}

.benefits-section {
  background: #FFAA69;
}

.benefits-section__column {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-section__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  margin-top: 2em;
}

.benefits-section__row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.benefits-section__row_item__text {
  margin-top: 1em;
}

.benefits-section__row_item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 1em;
}
